body {background-color: black; color:white}

.cell {
    width:40px; height:40px;text-align: center;
    background-color: gray;
}
.cell img {width:25px; height:auto}
.floor {background-color: gray}
.wall {background-color: brown}

.container {
    width: 600px;
    height: 100px;

}

.restart {
    cursor: pointer;
    display: none;
}

.timer {
    background-color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 30px;
    width: 120px;
    border-radius: 10%;
}

.lives {
    background-color: rgb(226, 128, 43);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 30px;
    width: 120px;
    border-radius: 10%;
}